
services:
  ccx-upgrades-data-eng:
    build: .
    ports:
      - 8000:8000
    environment:
      - INFERENCE_URL=http://ccx-upgrades-inference:8000
      - CLIENT_ID=test-id
      - CLIENT_SECRET=test-secret
      - SSO_ISSUER=http://mock-oauth2-server:8080/default
      - ALLOW_INSECURE=1
      - RHOBS_URL=http://obsint-mocks:8000
      - OAUTHLIB_INSECURE_TRANSPORT=1
      - CACHE_ENABLED=0
      - CACHE_TTL=0
    depends_on:
      - mock-oauth2-server
    restart: always  # needed because it takes some time to connect to mock-oauth2-server

  mock-oauth2-server:
    image: ghcr.io/navikt/mock-oauth2-server:0.5.8
    environment:
      - LOG_LEVEL=DEBUG
    ports:
      - 8080:8080
  
  ccx-upgrades-inference:
    # git clone https://github.com/RedHatInsights/ccx-upgrades-inference
    # cd ccx-upgrades-inference
    # docker build -t ccx-upgrades-inference .
    image: ccx-upgrades-inference
    ports:
      - 8001:8000
  
  obsint-mocks:
    # git clone git@github.com:RedHatInsights/obsint-mocks.git
    # cd obsint-mocks
    # docker build -t obsint-mocks .
    image: quay.io/redhat-services-prod/obsint-processing-tenant/obsint-mocks/obsint-mocks
    ports:
      - 8002:8000

