version: '3.7'
services:
  ccx-upgrades-data-eng:
    build: .
    ports:
      - 8000:8000
    environment:
      - INFERENCE_URL=http://ccx-upgrades-inference:8000
      - CLIENT_ID=test-id
      - CLIENT_SECRET=test-secret
      - SSO_ISSUER=http://mock-oauth2-server:8080/default
      - ALLOW_INSECURE=1
      - RHOBS_URL=http://rhobs-mock:8080
      - OAUTHLIB_INSECURE_TRANSPORT=1
    depends_on:
      - mock-oauth2-server
    restart: always  # needed because it takes some time to connect to mock-oauth2-server

  mock-oauth2-server:
    image: ghcr.io/navikt/mock-oauth2-server:0.5.8
    environment:
      - LOG_LEVEL=DEBUG
    ports:
      - 8080:8080
  
  ccx-upgrades-inference:
    # git clone https://gitlab.cee.redhat.com/ccx/ccx-upgrades-inference 
    # cd ccx-upgrades-inference
    # docker build -t ccx-upgrades-inference .
    image: ccx-upgrades-inference
    ports:
      - 8001:8000
  
  rhobs-mock:
    # git clone git@gitlab.cee.redhat.com:ccx/rhobs-mock.git
    # cd rhobs-mock
    # docker build -t rhobs-mock .
    image: rhobs-mock
    ports:
      - 8081:8080