name: BDD Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  bdd:
    runs-on: ubuntu-latest
    container: quay.io/redhat-services-prod/obsint-processing-tenant/insights-behavioral-spec/insights-behavioral-spec:latest
    services:
      mock-oauth2-server:
        image: ghcr.io/navikt/mock-oauth2-server:2.2.1
        env:
          PORT: 8081
    env:
      PATH_TO_LOCAL_DATA_ENG_SERVICE: "${{ github.workspace }}"
      BDD_PATH: /insights-behavioral-spec
      VIRTUAL_ENV: /insights-behavioral-spec-venv/
      WITHMOCK: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run BDD tests
        run: cd $BDD_PATH && make data-engineering-service-tests
      - name: Rename logs
        # Otherwise the upload-artifact action will complain
        if: failure()
        run: for filename in "$BDD_PATH"/logs/ccx-upgrades-data-eng/*; do mv -n "$filename" "$(echo "$filename" | sed -e 's/["><]//g')"; done
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: bdd-logs
          path: /insights-behavioral-spec/logs/ccx-upgrades-data-eng
